body {
    margin: 0;
}

@mixin _480 {
    @media (min-width: 480px) and (max-width: 768px){
        @content
    }
}
@mixin _768 {
    @media (min-width: 768px) and (max-width: 1000px){
        @content
    }
}
@mixin _1000 {
    @media (min-width: 1000px) {
        @content
    }
}


@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}